receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317

exporters:
  debug:
    verbosity: detailed
  enhance_indexing_s3_exporter:
    s3uploader:
      region: 'us-east-1'
      s3_bucket: 'my-test-bucket'
      s3_prefix: 'traces-and-logs'
    sending_queue:
        batch:
            flush_timeout: 30s
            max_size: 50000
            min_size: 50000
        enabled: true
        queue_size: 500000
        sizer: items
    timeout: 30s

service:
  telemetry:
    logs:
      level: info
  pipelines:
    logs/objectstorage:
      receivers: [otlp]
      exporters: [enhance_indexing_s3_exporter, debug]

    traces/objectstorage:
      receivers: [otlp]
      exporters: [enhance_indexing_s3_exporter, debug]